In [65]:
import pyrebase
import json

In [5]:
url = 'https://asset-platform.firebaseio.com/'

In [6]:
email = 'franklin.sarkett@gmail.com'
password = 'bH983$AR'

In [18]:
#   "storageBucket": "projectId.appspot.com"

config = {
  "apiKey": "AIzaSyAFxiJpji0dKMilDuA6Abk5nCqhcvqPOl4",
  "authDomain": "asset-platform.firebaseapp.com",
  "databaseURL": "https://asset-platform.firebaseio.com",
  "storageBucket": ""
}

In [19]:
firebase = pyrebase.initialize_app(config)

In [29]:
auth = firebase.auth()

In [34]:
user = auth.sign_in_with_email_and_password(email, password)

In [72]:
# now we have a fresh token
# user['idToken']

In [86]:
# Get a reference to the database service
db = firebase.database()

In [87]:
try:
#     cities = db.child('cities').child('0').get()
    cities = db.child('cities').get(user['idToken'])
except Exception as e:
    print(e)

In [88]:
len(cities.val())

14

In [89]:
if len(cities.val()):
    print(cities.val()[0])

{'access': {'CkV0F8gZZEc5VlfP1yY3q16cgVv2': {'access': 'CkV0F8gZZEc5VlfP1yY3q16cgVv2'}, 'W7adHYHTNHaX9MsuZyGTeX2x14h1': {'access': 'W7adHYHTNHaX9MsuZyGTeX2x14h1'}, 'fHoEbBHOzlOIzToqQEGFbrVYYzw2': {'access': 'fHoEbBHOzlOIzToqQEGFbrVYYzw2'}, 'wOpMBeFnn0WpJ4y8j7PeqP3enLw2': {'access': 'wOpMBeFnn0WpJ4y8j7PeqP3enLw2'}}, 'city': 'Hong Kong', 'country': 'China', 'countryCodes': ['HKG', 'CHN'], 'id': '0', 'lat': 22.295123, 'lon': 114.171116, 'name': 'Peninsula Hong Kong', 'slug': 'hong_kong'}

In [94]:
for x in cities.each():
    key = x.item[0]
    val = x.item[1]
    print('key: {}'.format(key))
    print('*{}*'.format(val['name']))
    print('{}, {}'.format(val['city'], val['country']))
    print(val['slug'])
    # print(json.dumps(val, indent=2))
    print('')

key: 0
*Peninsula Hong Kong*
Hong Kong, China
hong_kong

key: 1
*Peninsula Manila*
Manila, Philippines
manila

key: 2
*Peninsula New York*
New York, United States
new_york

key: 3
*Peninsula Beijing*
Beijing, China
beijing

key: 4
*Peninsula Beverly Hills*
Beverly Hills, United States
beverly_hills

key: 5
*Peninsula Bangkok*
Bangkok, Thailand
bangkok

key: 6
*Peninsula Chicago*
Chicago, United States
chicago

key: 7
*Peninsula Tokyo*
Tokyo, Japan
tokyo

key: 8
*Peninsula Shanghai*
Shanghai, China
shanghai

key: 9
*Peninsula Paris*
Paris, France
paris

key: 10
*Peninsula Dubai*
Dubai, United Arab Emirates
dubai

key: 11
*Peninsula London*
London, England
london

key: 12
*Peninsula Singapore*
Singapore, Singapore
singapore

key: 13
*Peninsula Istanbul*
Istanbul, Turkey
istanbul