In [135]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [130]:
import os
import pandas as pd
from shapely.geometry import shape, Point

In [131]:
from geo import geo

In [136]:
p = Point((42.451171875, 35.82672127366604))
print(p)
geo.point_to_iraq(p)

POINT (42.451171875 35.82672127366604)

{'ISO3166-2': 'IQ-NI',
 'admin_level': '4',
 'alt_name': 'Nīnawā',
 'alt_name:syc': 'Nīnwē',
 'boundary': 'administrative',
 'name': 'نینوى',
 'name:ar': 'نینوى',
 'name:de': 'Ninawa',
 'name:en': 'Nineveh',
 'name:ja': 'ニーナワー',
 'name:ku': 'Neynewa',
 'name:pl': 'Niniwa',
 'name:ru': 'Найнава',
 'name:syc': 'ܢܝܢܘܐ',
 'name:uk': 'Найнава',
 'source': 'Wikimedia Commons',
 'wikidata': 'Q189352',
 'wikipedia': 'en:Nineveh Province'}

In [143]:
df = pd.read_csv('../data/iraq_pol_risk.csv')

In [144]:
df['Region'] = ''

In [145]:
df.head()

   ActionGeo_Lat  ActionGeo_Long  polriskevents Region
0        29.7837         48.8070              0
1        29.8775         48.3833             21
2        29.9222         48.4867              1
3        29.9453         48.4711              0
4        30.0362         47.9195              9

In [147]:
for x in df.itertuples():
    point = Point((x.ActionGeo_Long, x.ActionGeo_Lat))
    output = geo.point_to_iraq(point)
    if output:
        df.loc[x.Index, 'Region'] = output['name:en']
    else:
        df.loc[x.Index, 'Region'] = 'Not found'

In [148]:
df[['Region', 'polriskevents']].groupby(by='Region').describe()

             polriskevents                                                 \
                     count        mean          std  min  25%  50%    75%
Region
Al Anbar              43.0  531.906977  3157.280549  0.0  0.5  3.0  18.00
Al-Qadisiyah          32.0    3.125000     5.540176  0.0  0.0  1.0   4.00
Babil                 58.0   17.637931   112.556683  0.0  0.0  1.0   3.00
Baghdad               66.0  126.878788   954.423588  0.0  0.0  2.0   9.00
Diyala                78.0   12.435897    66.620965  0.0  0.0  1.0   4.00
Dohuk                 47.0    4.425532    15.549003  0.0  0.0  1.0   2.00
Erbil                 59.0   23.338983   125.058691  0.0  0.0  1.0   3.50
Halabja               19.0    7.315789    19.485187  0.0  0.0  1.0   3.00
Karbala                7.0   31.714286    74.738911  0.0  1.5  3.0   7.50
Kirkuk                30.0   48.200000   218.717327  0.0  1.0  2.0   5.75
Maysan                29.0    8.172414    28.180628  0.0  0.0  0.0   3.00
Muthanna              20.0   12.700000    26.399960  0.0  0.0  2.0   9.25
Najaf                 15.0   11.533333    30.856504  0.0  0.0  3.0   6.00
Nineveh              103.0   41.932039   117.752004  0.0  0.0  2.0  16.50
Not found            103.0   15.660194   103.510116  0.0  0.0  2.0   8.00
Saladin               68.0   24.220588   106.128737  0.0  0.0  1.5   6.50
Sulaymaniyah          51.0    4.882353    20.447638  0.0  0.0  1.0   3.50
Wasit                 28.0    6.928571    23.063405  0.0  0.0  0.0   3.00


                  max
Region
Al Anbar      20729.0
Al-Qadisiyah     23.0
Babil           859.0
Baghdad        7762.0
Diyala          583.0
Dohuk           106.0
Erbil           933.0
Halabja          85.0
Karbala         201.0
Kirkuk         1201.0
Maysan          142.0
Muthanna        104.0
Najaf           122.0
Nineveh         680.0
Not found      1052.0
Saladin         825.0
Sulaymaniyah    146.0
Wasit           120.0